###############################################
# Global settings
###############################################

# Global settings -> General
logLevel: info
logDestinations: [stdout]
logStructured: no
logFile: mediamtx.log
sysLogPrefix: mediamtx
readTimeout: 10s
writeTimeout: 10s
writeQueueSize: 512
udpMaxPayloadSize: 1472
udpReadBufferSize: 0
runOnConnect:
runOnConnectRestart: no
runOnDisconnect:

###############################################
# Global settings -> Authentication
###############################################

# WICHTIG: Für Production solltest du HTTP Auth aktivieren
# authMethod: http
# authHTTPAddress: https://www.uservault.net/api/webhooks/mediamtx/auth

authMethod: internal
authInternalUsers:
  - user: any
    pass:
    ips: []
    permissions:
    - action: publish
      path:
    - action: read
      path:
    - action: playback
      path:
  - user: any
    pass:
    ips: ['127.0.0.1', '::1']
    permissions:
    - action: api
    - action: metrics
    - action: pprof

authHTTPAddress:
authHTTPExclude:
- action: api
- action: metrics
- action: pprof

authJWTJWKS:
authJWTJWKSFingerprint:
authJWTClaimKey: mediamtx_permissions
authJWTExclude: []
authJWTInHTTPQuery: true

###############################################
# Global settings -> Control API
###############################################

api: yes
apiAddress: :9997
apiEncryption: no
apiServerKey: server.key
apiServerCert: server.crt
apiAllowOrigins: ['*']
apiTrustedProxies: []

###############################################
# Global settings -> Metrics
###############################################

metrics: no
metricsAddress: :9998
metricsEncryption: no
metricsServerKey: server.key
metricsServerCert: server.crt
metricsAllowOrigins: ['*']
metricsTrustedProxies: []

###############################################
# Global settings -> PPROF
###############################################

pprof: no
pprofAddress: :9999
pprofEncryption: no
pprofServerKey: server.key
pprofServerCert: server.crt
pprofAllowOrigins: ['*']
pprofTrustedProxies: []

###############################################
# Global settings -> Playback server
###############################################

playback: no
playbackAddress: :9996
playbackEncryption: no
playbackServerKey: server.key
playbackServerCert: server.crt
playbackAllowOrigins: ['*']
playbackTrustedProxies: []

###############################################
# Global settings -> RTSP server
###############################################

rtsp: yes
rtspTransports: [udp, multicast, tcp]
rtspEncryption: "no"
rtspAddress: :8554
rtspsAddress: :8322
rtpAddress: :8000
rtcpAddress: :8001
multicastIPRange: 224.1.0.0/16
multicastRTPPort: 8002
multicastRTCPPort: 8003
srtpAddress: :8004
srtcpAddress: :8005
multicastSRTPPort: 8006
multicastSRTCPPort: 8007
rtspServerKey: server.key
rtspServerCert: server.crt
rtspAuthMethods: [basic]

###############################################
# Global settings -> RTMP server
###############################################

rtmp: yes
rtmpAddress: :1935
rtmpEncryption: "no"
rtmpsAddress: :1936
rtmpServerKey: server.key
rtmpServerCert: server.crt

###############################################
# Global settings -> HLS server
###############################################

hls: yes
hlsAddress: :8888
hlsEncryption: yes
hlsServerKey: C:\mediamtx\ingest.uservault.de-key.pem
hlsServerCert: C:\mediamtx\ingest.uservault.de-crt.pem
hlsAllowOrigins: ['*']
hlsTrustedProxies: []
hlsAlwaysRemux: yes
hlsVariant: lowLatency
hlsSegmentCount: 7
hlsSegmentDuration: 1s
hlsPartDuration: 200ms
hlsSegmentMaxSize: 50M
hlsDirectory: ''
hlsMuxerCloseAfter: 60s

###############################################
# Global settings -> WebRTC server
###############################################

webrtc: yes
webrtcAddress: :443
webrtcEncryption: yes
webrtcServerKey: C:\mediamtx\ingest.uservault.de-key.pem
webrtcServerCert: C:\mediamtx\ingest.uservault.de-crt.pem
webrtcAllowOrigins: ['*']
webrtcTrustedProxies: []
webrtcLocalUDPAddress: :8189
webrtcLocalTCPAddress: ''
webrtcIPsFromInterfaces: yes
webrtcIPsFromInterfacesList: []
webrtcAdditionalHosts:
  - 173.212.205.185
webrtcICEServers2: []
webrtcHandshakeTimeout: 10s
webrtcTrackGatherTimeout: 2s
webrtcSTUNGatherTimeout: 5s

###############################################
# Global settings -> SRT server
###############################################

srt: yes
srtAddress: :8890

###############################################
# Default path settings
###############################################

pathDefaults:
  source: publisher
  sourceFingerprint:
  sourceOnDemand: no
  sourceOnDemandStartTimeout: 10s
  sourceOnDemandCloseAfter: 10s
  maxReaders: 0
  srtReadPassphrase:
  fallback:
  useAbsoluteTimestamp: false
  record: no
  recordPath: ./recordings/%path/%Y-%m-%d_%H-%M-%S-%f
  recordFormat: fmp4
  recordPartDuration: 1s
  recordMaxPartSize: 50M
  recordSegmentDuration: 1h
  recordDeleteAfter: 1d
  overridePublisher: yes
  srtPublishPassphrase:
  rtspTransport: automatic
  rtspAnyPort: no
  rtspRangeType:
  rtspRangeStart:
  rtpSDP:
  sourceRedirect:
  rpiCameraCamID: 0
  rpiCameraSecondary: false
  rpiCameraWidth: 1920
  rpiCameraHeight: 1080
  rpiCameraHFlip: false
  rpiCameraVFlip: false
  rpiCameraBrightness: 0
  rpiCameraContrast: 1
  rpiCameraSaturation: 1
  rpiCameraSharpness: 1
  rpiCameraExposure: normal
  rpiCameraAWB: auto
  rpiCameraAWBGains: [0, 0]
  rpiCameraDenoise: "off"
  rpiCameraShutter: 0
  rpiCameraMetering: centre
  rpiCameraGain: 0
  rpiCameraEV: 0
  rpiCameraROI:
  rpiCameraHDR: false
  rpiCameraTuningFile:
  rpiCameraMode:
  rpiCameraFPS: 30
  rpiCameraAfMode: continuous
  rpiCameraAfRange: normal
  rpiCameraAfSpeed: normal
  rpiCameraLensPosition: 0.0
  rpiCameraAfWindow:
  rpiCameraFlickerPeriod: 0
  rpiCameraTextOverlayEnable: false
  rpiCameraTextOverlay: '%Y-%m-%d %H:%M:%S - MediaMTX'
  rpiCameraCodec: auto
  rpiCameraIDRPeriod: 60
  rpiCameraBitrate: 5000000
  rpiCameraHardwareH264Profile: main
  rpiCameraHardwareH264Level: '4.1'
  rpiCameraSoftwareH264Profile: baseline
  rpiCameraSoftwareH264Level: '4.1'
  rpiCameraMJPEGQuality: 60
  runOnInit:
  runOnInitRestart: no
  runOnDemand:
  runOnDemandRestart: no
  runOnDemandStartTimeout: 10s
  runOnDemandCloseAfter: 10s
  runOnUnDemand:
  runOnReady:
  runOnReadyRestart: no
  runOnNotReady:
  runOnRead:
  runOnReadRestart: no
  runOnUnread:
  runOnRecordSegmentCreate:
  runOnRecordSegmentComplete:

###############################################
# Path settings - ANGEPASST FÜR LARAVEL
###############################################

paths:
  all_others:
    runOnReady: >
      curl -X POST 
      "https://anabelle-hypersentimental-margarette.ngrok-free.dev/api/webhooks/mediamtx" 
      -H "Content-Type: application/json" 
      -d "{\"event\":\"publish\",\"stream_key\":\"$MTX_PATH\"}"
    
    runOnNotReady: >
      curl -X POST 
      "https://anabelle-hypersentimental-margarette.ngrok-free.dev/api/webhooks/mediamtx" 
      -H "Content-Type: application/json" 
      -d "{\"event\":\"unpublish\",\"stream_key\":\"$MTX_PATH\"}"
