@import 'quill/dist/quill.snow.css';


.ql-container.ql-snow {
	border-color: var(--color-bord-pr);
	border-bottom-right-radius: var(--radius-xl);
	border-bottom-left-radius: var(--radius-xl);
	background-color: white;
}

.ql-toolbar.ql-snow {
	border-color: var(--color-bord-pr);
	border-top-right-radius: var(--radius-xl);
	border-top-left-radius: var(--radius-xl);
	background-color: white;
}

.ql-editor {
	color: #1a1a1a;
	min-height: 400px;
}

.ql-editor p, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor ul, .ql-editor ol {
	color: #1a1a1a !important;
}